.TopNavBar {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  min-height: 100px;
  min-width: 100%;
  background-color: antiquewhite;
  box-shadow: 5px 5px 5px 10px antiquewhite ;
}
.Header {
  left: 100px;
  position: relative;
  width: fit-content;
}
.Buttons button {
  margin: 5px;
  padding: 5px;
  
}
.Buttons {
  text-align: center;
}
h1 {
  font-style: italic;
}
.Content {
  position: absolute;
  top: 120px;
  min-width: 100%;
  min-height: 80%;
  display: flex;
  justify-content: center;
}

.SudokuHolder {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 20%;
  width: fit-content;
  height: 600px;
}

.Sudoku {
  margin: 0px 50px 0px 50px;
  position: relative;
  border: 2px solid black;
  width: 396px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.Sudoku#Initial {
  animation: slidein 2s;
}
.Sudoku#Solved {
  animation: slide 2s;
}
.Sudoku#SolvedOrig {
  animation: origSlide 2s;
}
.Sudoku#LoadingTable {
  animation: none;
}

.Sudoku div.BorderVerticalFirst {
  position: absolute;
  border-left: 2px solid black;
  border-right: none;
  border-bottom: none;
  border-top: none;
  left: 131px;
  height: 394px;
  width: 0px;
}
.Sudoku div.BorderVerticalSecond {
  position: absolute;
  border-left: 2px solid black;
  border-right: none;
  border-bottom: none;
  border-top: none;
  left: 263px;
  height: 394px;
  width: 0px;
}
.Sudoku div.BorderHorizontalFirst {
  position: absolute;
  border-top: 2px solid black;
  border-bottom: none;
  border-left: none;
  border-right: none;
  top: 131px;
  height: 0px;
  width: 394px;
}
.Sudoku div.BorderHorizontalSecond {
  position: absolute;
  border-top: 2px solid black;
  border-bottom: none;
  border-left: none;
  border-right: none;
  top: 263px;
  height: 0px;
  width: 394px;
}
.Sudoku div {
  text-align: center;
  font-size: 30px;
  justify-content: center;
  border: 1px grey solid;
  padding: 1px;
  height: 40px;
  width: 40px;
}
.Sudoku input {
  text-align: center;
  border-style: none;
  font-size: 30px;
  width: 32px;
  height: 36px;
}
input:focus {
  outline: none;
}

.InCorrectSquare input {
  background-color: antiquewhite
}
.InCorrectSquare {
  background-color: antiquewhite
}

div.HasNoValue:hover {
  background-color: antiquewhite;
}
.notification {
  position: absolute;
  top: 80%;
  left: 50%;
  animation: fromBelow 1s;
}
@keyframes fromBelow{
  from {
    transform: translateY(400%);
  } to {
    transform: translateY(0%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-50%);
  } 100% {
    transform: translateX(0%);
  }
}
@keyframes origSlide {
  0% {
    transform: translateX(50%);
  } 100% {
    transform: translateX(0%);
  }
}
@keyframes slidein {
  0% {
    transform: scale(0) rotate(180deg);
  } 100% {
    transform: scale(1) rotate(0deg);
  }
}